.form label {
    font-size: large;
    margin: 0 8px;
    font-weight: bold;
}

.form input {
    background-color: #38015c34;
    border-radius: 3px;
    padding: 3px 6px;
    height: 2rem;
    margin-right: 8px;
}

.form input:focus {
    outline: none;
}